@import '../../../assets/scss/colors.scss';

#intro {
    background-color:$primary-coral;
}

h1 {
    color: $primary-white;
}

.btn-primary {
    background-color: $primary-purple;
    border: 0;
    font-family: 'Quicksand', sans-serif;
}

.btn-primary:hover {
    background-color: $primary-blue;
}
