@import '../../../../assets/scss/colors.scss';

#nav {
    padding: 10px 20px;
    box-shadow: 0 0 2em rgba(51, 51, 51, 0.4) 
}

.head-nav-link {
    font-family: 'Nunito', sans-serif;
    color: $primary-purple !important;
    font-weight: 600; 
}

.head-nav-link:hover{
    color: $primary-coral !important;
}

button {
    border-color: $secondary-purple  !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(../../../../assets/img/icons/header/icon-dropdown.svg);
}