.img-card {
    margin: 0 auto;
    width:5rem;
    height: 5rem;
}

.advantage-card{
    margin: 20px;
    border: none;
    width:320px;
    text-align: center;
}

.card-title-adv {
    font-size: 16px;
}