@import '../../../assets/scss/colors.scss';

.visit-card-page {
    height: 100vh;
    background-image: 
        linear-gradient($primary-purple-transp, $primary-coral-transp),
        url("../../../assets/img/pictures/forest.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.75;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.visit-card-page > p {
    color: papayawhip;
    text-align: center;
    margin-top: 15px;
}

.loadingCard {
    display: flex;
    margin: auto;
}