@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300');

$primary-green: rgb(0, 101, 107);
$primary-slime: rgb(213, 215, 23);
$primary-coral: rgb(255, 111, 97);
$primary-purple: rgb(125, 93, 153);
$primary-blue: rgb(0, 132, 161);
$primary-white: rgb(255, 255, 255);
$primary-black: rgb(51, 51, 51);


html {
    margin: 0;
    padding: 0;
}

#root {
    margin: 0;
    padding: 0;
}

h1, .card-title {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}

p {
    font-family: 'Quicksand', sans-serif;
}

p, h1, h2, h3, div {
    color: $primary-black;
}