@import '../../../../assets/scss/colors.scss';

.product-card{
    margin-top: 20px;
    margin-bottom: 20px;    
    border: none;
    border-radius: none;
    text-align: center;
    color: $primary-black;
}

.product-card-img {
    opacity: 0.1;
}

.product-text-container, .product-text-container-inner {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.product-text-container-inner {
    position: absolute;
    width: 100%;
}

.text-center-card {
    position: relative;
    top:50%;
    transform: translateY(-50%);
}
