@import '../../../../assets/scss/colors.scss';

.product-card{
    margin-top: 20px;
    margin-bottom: 20px;    
    border: none;
    border-radius: none;
    text-align: center;
    color: $primary-black;
}

.product-card-img {
    opacity: 0.1;
}

p {
    color: $primary-black;
}

.center {
    position: relative;
    top:50%;
    transform: translateY(-50%);
}
