@import '../../../../assets/scss/colors.scss';

#intro {
    background-color:$primary-coral;
}

h1 {
    color: white;
}

.btn-primary {
    background-color: $primary-purple;
    border: none;
    font-family: 'Quicksand', sans-serif;
}

.btn-primary:hover {
    background-color: $secondary-purple;
}
